h1, h2, h3 {
    font-family: 'Fredoka', sans-serif;
    
}

p {
    font-family: 'Hubballi', cursive;
}

body {
    background-color: #CCCCCC;
    margin: 0;
}

header {
    background-image: url(/img/Logo.jpg);
    background-color: #86F4F6;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    padding: 11rem;
}

#titulo {
    font-size: 80px;
    text-align: center;
    color: black;
}

.main {
    text-align: center;
    margin: 1rem;
    font-size: larger;
}

.pasteles {
    text-align: center;
    font-size: larger;
}

table, th, td {
    margin: auto;
    border: 2px solid black;
}

#top {
    text-align: center;
}

.topps {
    text-align: left;
    margin: 3rem;
    font-size: larger;
}

ul {
    list-style-type: circle;
}

#servs {
    text-align: center;
}

#tableServs {
    margin-left: 5rem;
}

.servicios {
    text-align: left;
    margin: 3rem;
    font-size: larger;
}

.orden {
    font-size: larger;
    margin: 3rem;
}

.horario {
    text-align: right;
    margin: 1rem;
    position: relative;
    bottom: 8rem;
    font-size: medium;
}

footer {
    margin: 1rem;
    text-align: left;
    margin: auto;
    margin: 3rem;
    font-size: medium;
}
